/* src/styles/global.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #333;
  --primary-color: #4e5d78;
  --secondary-color: #8884d8;
}

.dark-mode {
  --bg-color: #1e1e2f;
  --text-color: #f4f4f4;
  --primary-color: #2a2a3b;
  --secondary-color: #555b7b;
}
