.card .complex-table {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  color: #fff;
}
  .card.complex-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .card.complex-table th,
  .card.complex-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
  }
  
  .card.complex-table th {
    background-color: #1f1f1f;
  }
  