.custom-calendar {
  background-color: var(--dashboard-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.custom-calendar h3 {
  margin-bottom: 20px;
}

.react-calendar {
  background-color: var(--dashboard-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

.react-calendar__navigation button {
  color: var(--text-color);
}

.react-calendar__month-view__days__day--weekend {
  color: var(--text-color);
}

.react-calendar__tile {
  background-color: var(--dashboard-bg-color);
  color: var(--text-color);
  border-radius: 10px;
}

.react-calendar__tile--active {
  background-color: #8884d8;
  color: white;
}

.react-calendar__tile--now {
  background-color: #1f1f1f;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background-color: #282c34;
  border-radius: 10px;
}
